<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding fullscreen="true">
  <ion-list>
    <ion-item *ngFor="let repo of repos" text-wrap>
      <h2>{{ repo.name }}</h2>
      <p>{{ repo.description }}</p>
      <p>
        <ion-icon name="star"></ion-icon>&nbsp;{{ repo.stargazers_count }}
        <ion-icon name="git-branch"></ion-icon>&nbsp;{{ repo.forks_count }}
      </p>
      
    </ion-item>
  </ion-list>
  <div *ngIf="repos && repos.length == 0">
    No repos
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
